<footer>
  <p>This site can be used with expressed consent from the author.
    <br>
    Author: Aadam Faheem <br>
    Created: November 2021 <br>
    Email: <a href="mailto:aadam.faheem21@trinityschoolnyc.org">aadam.faheem21@trinityschoolnyc.org</a></p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</footer>
