<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="icon" href="images/skateboarder.jpg" type ="image" width="20x20">
<link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class = "body1">
  <header>
  <h1 class = "pageTitle">
  Skateboarding
  </h1>
  <h2>
    Skateboarding: An Excellent Recreation to Become Good At!!!
  </h2>
