<html lang="en">

<!--header with information about the page, link to css, the title, and google fonts -->
<head>
  <title>About Me</title>
  <meta name="description" content="About Page">
  <meta name="author" content="Aadam Faheem">

  <%- include('global/header.ejs') %>
  <%- include('global/navbar.ejs') %>
  <!--description of how my interest developed -->
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-12">
        <p class="text">
          I started skateboarding more often when the COVID-19 pandemic developed. With COVID-19,
          many of us were trapped indoors. I chose to skateboard because it would allow me to escape the
          indoors. Getting this fresh air was especially necessary after spending a couple ours on zoom in classes
          every day. Although I have always skateboarded, I started to skateboard more intensly during the past
          couple of months. Learning tricks on a skateboard was one of my goals. Although it takes many years
          to master many tricks, I was able to learn a couple over the summer.
        </p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-12">
        <h3 class="head">
          List of Links
        </h3>
      </div>
    </div>
    <div class = "row">
      <div class = "col-4 sub-head">
        <a href="https://vigourskate.com/skateboarding-introduction/">What is Skateboarding?</a>
      </div>
      <div class = "col-4 sub-head">
        <a href="https://www.rogerskateboards.com/best-skateboarders/">Best Skateboarders</a>
      </div>
      <div class = "col-4 sub-head">
        <a href="https://uprepmedia.com/3302/ms/skateboarding-is-booming-during-quarantine/">Skateboarding Popularity during COVID-19</a>
      </div>
    </div>
    <div class = "row">
      <div class = "col-4">
        <p class = "text">
          What is Skateboarding? This site offers a lot of information into skateboarding, its history,
          different tricks, as well as much more! Be sure to check it out for a lot of information on
          skateboarding.
        </p>
      </div>
      <div class = "col-4">
        <p class = "text">
          This is a list of the top skateboarders. There are a lot of different skateboarders on
        here so be sure to check them out.</p>
      </div>
      <div class = "col-4">
        <p class = "text">
          This article discusses how skateboarding has increased in popularity during COVID-19. Since it
          is such an easy sport to do by oneself, many have found it to be a fun recreation which they can doctype
          while socially distancing.
        </p>
      </div>
    </div>
  </div>

  <%- include('global/footer.ejs') %>
</body>
<html>
